<!DOCTYPE html>
<html ng-app="Discus">

<head>
  <meta charset="UTF-8" />
  <title>Let's Discus!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/main.css" media="all">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-resource.js"></script>

  <script src="script/index.js"></script>
  <script src="script/util.js"></script>


  <!--
<script>window.angular || document.write('<script src="lib/angular.min.js"><\/script>');</script>
-->
</head>

<body>
  <div ng-controller="mainController" class="mainContents">
    <div class="list-group listDiv" ng-controller="listController">
      <div class="alert alert-danger" role="alert" ng-show="isConnErr">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        コメントの送信に失敗しました
      </div>
      <div class="list-group-item" ng-repeat="message in messages | orderBy:'date':true">
        <div class="messageAuthor"><i class="fa fa-user"></i> {{message.author}} @{{message.date | date:'yyyy/MM/dd HH:mm'}}</div>
        <pre>
          <div class="messageBody">{{message.body}}</div>
        </pre>
        <button class="like" ng-click="onLike(message)"><i class="fa fa-thumbs-o-up"></i> {{message.liked}}</button>
        <button class="reply" ng-click="reply(message)"><i class="fa fa-reply"></i></button>
      </div>
    </div>
    <hr>
    <div class="inputDiv">
      <form name="mainForm" ng-submit="onSubmit()" novalidate>
        <textarea rows="9" ng-model="inputedBody" class="form-control" placeholder="コメントを入力"></textarea>
        <input id="author" name="author" type="text" ng-model="inputedAuthor" class="form-control" placeholder="なまえを入力してください" required/>
        <input type="submit" class="form-control" value="&#xf1d8;" ng-disabled="mainForm.$invalid">
      </form>
    </div>
  </div>
</body>

</html>
